// Define variables for your color scheme

// For example:
$red: #FFADAD;
$orange: #FFD6A5;
$yellow: #FDFFB6;
$green: #CAFFBF;
$light-blue: #9BF6FF;
$dark-blue: #A0C4FF;
$purple: #BDB2FF;
$pink: #FFC6FF;
$gray: #FFFFFC;
$light-gray: #F4F4F4;
