// Specific CSS for your home-page
$margin-top: 15vh;
$margin-side: 7rem;


nav,
#main {
  margin: 0 $margin-side;
  height:100vh;
}

nav {
  position:absolute;
  top:0;
  height:$margin-top;
  display:flex;
  justify-content:flex-end;
  align-items:center;
  span:first-child {
    margin-right:auto;
  }
  .link-nav {
    margin: 0 1rem;
  }
}


.logo {
  font-size:4rem;
}


#main {
  margin-top:$margin-top;
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
}

    #main--valueprop {
      width:60%;
      a {
        width:50%;
      }
    }

