
#today-birthday,
#calendar-birthday,
#add-birthday,
#animation-birthday,
#list-birthday {
  background: rgb(160,196,255);
  background: -moz-linear-gradient(148deg, rgba(160,196,255,1) 43%, rgba(155,246,255,1) 80%);
  background: -webkit-linear-gradient(148deg, rgba(160,196,255,1) 43%, rgba(155,246,255,1) 80%);
  background: linear-gradient(148deg, rgba(160,196,255,1) 43%, rgba(155,246,255,1) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a0c4ff",endColorstr="#9bf6ff",GradientType=1);
  color:$white;
}



.container-content {
  // CAME FROM NAVBAR HEIGHT
  margin-top: 10vh;
  height:90vh;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  }
  #container-content--left {
    margin: 0 auto;
    width: 30%;
  }
      #calendar-birthday {
        height:50vh
      }
  #container-content--right {
    margin: 0 auto;
    width: 60%;
    height:80vh;
  }
      #container-content--right--top {
        display:flex;
        justify-content:space-between;
        align-items:center;
        #add-birthday,
        #animation-birthday {
          height:20vh;
        }
      }
          #add-birthday {
            width:20%;
          }
          #animation-birthday {
            width:75%;
          }

    #list-birthday {
      height:60vh;
    }

.box-container {
  box-shadow: 0 10px 20px 5px rgba(0,0,0, 0.2);
  border-radius: 15px;
  padding:1rem;
  background-color: $gray;
  &:not(#list-birthday) {
    margin: 1.5rem 0;
  }
}

//--------------------------//
//        ADD-BIRTHDAY      //
//--------------------------//

#add-birthday {
  text-align:center;
  font-weight: bold;
  font-size: 1.3rem;
  cursor:pointer;
  transition:
    transform .3s ease,
    box-shadow .3s ease;
  &:hover {
    color:$dark;
    background: rgb(253,255,182);
    background: linear-gradient(145deg, rgba(253,255,182,1) 20%, rgba(202,255,191,1) 50%, rgba(155,246,255,1) 80%);
    transform:translate(0px, -3px);
    box-shadow: 0 15px 20px 2px rgba(0,0,0, 0.2);
  }
  svg {
    margin:0 auto 0.5rem auto;
    display:block;
    width:5rem;
    height:5rem;
  }
}


//--------------------------//
//    ANIMATION-BIRTHDAY    //
//--------------------------//

#container-card-birthday-month {
  margin:0.5rem;
  display:flex;
  justify-content:left;
  align-items:center;
  flex-wrap:wrap;
}


//--------------------------//
//       LIST-BIRTHDAY      //
//--------------------------//

#list-birthday {
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  position:relative;
}


//--------------------------//
//         PAGINATION       //
//--------------------------//
.pagination {
  position:absolute;
  bottom:.5rem;
  left:1rem;
  a,
  span,
  em {
    padding: 0 0.5rem;
  }
  .disabled,
  .current {
    color:$orange;
  }
}

//--------------------------//
//      TODAY-BIRTHDAY      //
//--------------------------//

 #today-birthday h5 {
  text-align:center;
 }

.fullname {
  font-size:1.5rem;
}

//--------------------------//
//--------------------------//
//      RESPONSIVENESS      //
//--------------------------//
//--------------------------//

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {

  //--------------------------//
  //        GLOBAL CSS        //
  //--------------------------//

  html {
    font-size: 10px;
  }

  .container-content {
    display:block;
    margin:15vh 0 5vh 0;
    height:100%;

  }

  #container-content--left,
  #container-content--right {
    width:90%;
    height:100%;
  }

  //--------------------------//
  //       NAVBAR &MODAL      //
  //--------------------------//

  .navbar-app {
    height:15vh;
  }

  .modal-navigation {
    top:12%;
    width:50%;
  }
  .modal-bg-add-birthday {
    position:fixed;
    top:0;
  }
  .modal-add-birthday {
    margin: 2vh auto;
    width:95%;
    height:97vh;
  }

  //--------------------------//
  //        SECTION CSS       //
  //--------------------------//

  #calendar-birthday {
    height:unset !important;
  }

  #add-birthday,
  #animation-birthday {
    height:25vh !important;
  }

  #add-birthday {
    width:30%;
    padding:4rem 0;
    color:$dark;
    background: rgb(253,255,182);
    background: linear-gradient(145deg, rgba(253,255,182,1) 20%, rgba(202,255,191,1) 50%, rgba(155,246,255,1) 80%);
  }
  #animation-birthday {
    width:65%;
    h5 {
      text-align:center;
    }
  }

  #container-card-birthday-month {
    justify-content:space-between;
  }

  #list-birthday {
    height:unset !important;
    justify-content:center;
  }

  #today-birthday h5 {
    font-size:1.8rem;
    background-image: linear-gradient(145deg, #fdffb6 20%, #caffbf 50%, #9bf6ff 80%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  //--------------------------//
  //      COMPONENTS CSS      //
  //--------------------------//

  .card-todays-birthday h6 {
    font-size:1.7rem;
  }

  .card-friend {
    width:90%;
  }
  .card-friend--body .name {
    font-size:2rem;
  }
  .avatar-card--small {
    width:10rem;
  }
  .label {
    top: -1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) and (min-width: 400px){
  //--------------------------//
  //        GLOBAL CSS        //
  //--------------------------//

  html {
    font-size: 10px;
  }

  .container-content {
    display:block;
    margin:15vh 0 5vh 0;
    height:100%;

  }

  #container-content--left,
  #container-content--right {
    width:90%;
    height:100%;
  }

  //--------------------------//
  //       NAVBAR &MODAL      //
  //--------------------------//

  .navbar-app {
    height:15vh;
  }

  .modal-navigation {
    top:12%;
    width:50%;
  }
  .modal-bg-add-birthday {
    position:fixed;
    top:0;
  }
  .modal-add-birthday {
    margin: 2vh auto;
    width:95%;
    height:97vh;
  }

  //--------------------------//
  //        SECTION CSS       //
  //--------------------------//

  #calendar-birthday {
    height:unset !important;
  }

  #add-birthday,
  #animation-birthday {
    height:25vh !important;
  }

  #add-birthday {
    width:30%;
    padding:4rem 0;
    color:$dark;
    background: rgb(253,255,182);
    background: linear-gradient(145deg, rgba(253,255,182,1) 20%, rgba(202,255,191,1) 50%, rgba(155,246,255,1) 80%);
  }
  #animation-birthday {
    width:65%;
    h5 {
      text-align:center;
    }
  }

  #container-card-birthday-month {
    justify-content:space-between;
  }

  #list-birthday {
    height:unset !important;
    justify-content:center;
  }

  #today-birthday h5 {
    font-size:1.8rem;
    background-image: linear-gradient(145deg, #fdffb6 20%, #caffbf 50%, #9bf6ff 80%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  //--------------------------//
  //      COMPONENTS CSS      //
  //--------------------------//

  .card-todays-birthday h6 {
    font-size:1.7rem;
  }

  .card-friend {
    width:90%;
  }
  .card-friend--body .name {
    font-size:2rem;
  }
  .avatar-card--small {
    width:10rem;
  }
  .label {
    top: -1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and  (max-width: 1100px) and (min-width: 992px){

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {

}

