
#today-birthday,
#calendar-birthday,
#add-birthday,
#animation-birthday,
#list-birthday {
  background: rgb(160,196,255);
  background: -moz-linear-gradient(148deg, rgba(160,196,255,1) 43%, rgba(155,246,255,1) 80%);
  background: -webkit-linear-gradient(148deg, rgba(160,196,255,1) 43%, rgba(155,246,255,1) 80%);
  background: linear-gradient(148deg, rgba(160,196,255,1) 43%, rgba(155,246,255,1) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a0c4ff",endColorstr="#9bf6ff",GradientType=1);
  color:$white;
}



.container-content {
  // CAME FROM NAVBAR HEIGHT
  margin-top: 10vh;
  height:90vh;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  }
  #container-content--left {
    margin: 0 auto;
    width: 30%;
  }
      #today-birthday {
        height:30vh
      }
      #calendar-birthday {
        height:50vh
      }
  #container-content--right {
    margin: 0 auto;
    width: 60%;
    height:80vh;
  }
      #container-content--right--top {
        display:flex;
        justify-content:space-between;
        align-items:center;
        #add-birthday,
        #animation-birthday {
          height:20vh;
        }
      }
          #add-birthday {
            width:20%;
          }
          #animation-birthday {
            width:75%;
          }

    #list-birthday {
      height:60vh;
    }

.box-container {
  box-shadow: 0 10px 20px 5px rgba(0,0,0, 0.2);
  border-radius: 15px;
  padding:1rem;
  background-color: $gray;
  &:not(#list-birthday) {
    margin: 1.5rem 0;
  }
}

//--------------------------//
//        ADD-BIRTHDAY      //
//--------------------------//

#add-birthday {
  text-align:center;
  font-weight: bold;
  font-size: 1.3rem;
  cursor:pointer;
  transition:
    transform .3s ease,
    box-shadow .3s ease;
  &:hover {
    background: rgb(253,255,182);
    background: linear-gradient(145deg, rgba(253,255,182,1) 20%, rgba(202,255,191,1) 50%, rgba(155,246,255,1) 80%);
    transform:translate(0px, -3px);
    box-shadow: 0 15px 20px 2px rgba(0,0,0, 0.2);
  }
  svg {
    margin:0 auto 0.5rem auto;
    display:block;
    width:5rem;
    height:5rem;
  }
}

//--------------------------//
//    ANIMATION-BIRTHDAY    //
//--------------------------//

#container-card-birthday-month {
  margin:0.5rem;
  display:flex;
  justify-content:left;
  align-items:center;
  flex-wrap:wrap;
}


//--------------------------//
//       LIST-BIRTHDAY      //
//--------------------------//

#list-birthday {
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  position:relative;
}


//--------------------------//
//         PAGINATION       //
//--------------------------//
.pagination {
  position:absolute;
  bottom:.5rem;
  left:1rem;
  a,
  span,
  em {
    padding: 0 0.5rem;
  }
  .disabled,
  .current {
    color:$orange;
  }
}


//--------------------------//
//      TODAY-BIRTHDAY      //
//--------------------------//

 #today-birthday {
  h5 {
    text-align:center;
  }
 }

.fullname {
  font-size:1.5rem;
}

//--------------------------//
//     CALENDAR-BIRTHDAY    //
//--------------------------//


#calendar-birthday {
  min-width: 380px;
}
