<h1>Welcome Onboard !</h1>
<h2>Well ! Perfect. I'm really glad you take part of our beautiful family of Birthday forgotter !</h2>

<h3>I will just ask you few question about you and we will add your first friend just after that !</h3>
