.card-todays-birthday{
  width:90%;
  margin: 1rem auto;
  position:relative;
  h6 {
    margin-bottom: 0.5rem;
  }
}


    .card-todays-birthday--info {
      display:flex;
      justify-content:space-between;
      align-items:center;
    }
